* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-container {
  display: flex;
  align-items: center;
}

.home-container img {
  width: 40vw;
}
.nav {
  display: flex;
  width:50%;
  justify-content: space-around;
}
.chip-img{
  width: 15rem;
}
